@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

:root {
    /* Generic colors */
    --black: #000000;
    --white: #FFFFFF;
    --red: #ee4040;

    /* Primary Tones */
    --primary: #5C33F2;
    --primary-t10: #1A0063;
    --primary-t20: #2F009C;
    --primary-t30: #4400D9;
    --primary-t40: #5D34F3;
    --primary-t50: #775AFF;
    --primary-t60: #917EFF;
    --primary-t70: #AD9FFF;
    --primary-t80: #C9BFFF;
    --primary-t90: #E5DEFF;
    --primary-t95: #F4EEFF;

    /* Secondary Tones */
    --secondary: #9839FE;
    --secondary-t10: #2A0053;
    --secondary-t20: #460084;
    --secondary-t30: #6500B9;
    --secondary-t40: #8315E9;
    --secondary-t50: #9C44FF;
    --secondary-t60: #B170FF;
    --secondary-t70: #C595FF;
    --secondary-t80: #DAB9FF;
    --secondary-t90: #EEDBFF;
    --secondary-t95: #F9EDFF;

    /* Tertiary Tones */
    --tertiary: #7034F6;
    --tertiary-t10: #21005E;
    --tertiary-t20: #380094;
    --tertiary-t30: #5200CE;
    --tertiary-t40: #6B2CF1;
    --tertiary-t50: #8354FF;
    --tertiary-t60: #9C7AFF;
    --tertiary-t70: #B59CFF;
    --tertiary-t80: #CEBDFF;
    --tertiary-t90: #E8DDFF;
    --tertiary-t95: #F5EEFF;

    /* Neutral */
    --neutral: #0A131C;
    --neutral-t10: #141C26;
    --neutral-t20: #28313B;
    --neutral-t30: #3F4852;
    --neutral-t40: #565F6A;
    --neutral-t50: #6F7883;
    --neutral-t60: #88919D;
    --neutral-t70: #A3ACB8;
    --neutral-t80: #BEC7D4;
    --neutral-t90: #DAE3F0;
    --neutral-t95: #E9F1FF;

}

@font-face {
    font-family: JB-Mono-Regular;
    src: url(../fonts/JetBrainsMono/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: JB-Mono-Bold;
    src: url(../fonts/JetBrainsMono/JetBrainsMono-Bold.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    height: 72px;
    display: flex;
    border-bottom: 1.6px solid var(--neutral-t90);
    align-items: center;
    padding: 0 32px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 40px;
    width: auto;
}

.search {
    width: 320px;
    height: 36px;
    border: 1.8px solid var(--neutral-t80);
    border-radius: 8px;
    margin: 0 32px;
    padding: 0 10px;
    outline: none;
    transition: all .1s;
    font-family: Inter;
    font-weight: 500;
    color: var(--neutral-t60);
}

.search::placeholder {
    font-family: Inter;
    font-weight: 400;
    color: var(--neutral-t60);

}

.search:focus-visible {
    border: 1.8px solid var(--secondary-t60);
}

.notifications {
    margin-left: auto;
    padding: 5px;
    border: 2px solid var(--neutral-t80);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 40px;
    cursor: pointer;
    transition: all .2s;
    position: relative;
}

.alert-circle {
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 50%;
    top: -5px;
    right: -5px;
    background-color: var(--red);
}

.hidden {
    display: none;

}

.notifications:hover {
    background-color: var(--neutral-t95);
}

.material-symbols-outlined.bell {
    color: var(--neutral-t40);
    font-size: 23px;
}