@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');

/* General propperties */
:root {
    /* Generic colors */
    --black: #000000;
    --white: #FFFFFF;
    --red: #ee4040;

    /* Primary Tones */
    --primary: #5C33F2;
    --primary-t10: #1A0063;
    --primary-t20: #2F009C;
    --primary-t30: #4400D9;
    --primary-t40: #5D34F3;
    --primary-t50: #775AFF;
    --primary-t60: #917EFF;
    --primary-t70: #AD9FFF;
    --primary-t80: #C9BFFF;
    --primary-t90: #E5DEFF;
    --primary-t95: #F4EEFF;

    /* Secondary Tones */
    --secondary: #9839FE;
    --secondary-t10: #2A0053;
    --secondary-t20: #460084;
    --secondary-t30: #6500B9;
    --secondary-t40: #8315E9;
    --secondary-t50: #9C44FF;
    --secondary-t60: #B170FF;
    --secondary-t70: #C595FF;
    --secondary-t80: #DAB9FF;
    --secondary-t90: #EEDBFF;
    --secondary-t95: #F9EDFF;

    /* Tertiary Tones */
    --tertiary: #7034F6;
    --tertiary-t10: #21005E;
    --tertiary-t20: #380094;
    --tertiary-t30: #5200CE;
    --tertiary-t40: #6B2CF1;
    --tertiary-t50: #8354FF;
    --tertiary-t60: #9C7AFF;
    --tertiary-t70: #B59CFF;
    --tertiary-t80: #CEBDFF;
    --tertiary-t90: #E8DDFF;
    --tertiary-t95: #F5EEFF;

    /* Neutral */
    --neutral: #0A131C;
    --neutral-t10: #141C26;
    --neutral-t20: #28313B;
    --neutral-t30: #3F4852;
    --neutral-t40: #565F6A;
    --neutral-t50: #6F7883;
    --neutral-t60: #88919D;
    --neutral-t70: #A3ACB8;
    --neutral-t80: #BEC7D4;
    --neutral-t90: #DAE3F0;
    --neutral-t95: #E9F1FF;
}

@font-face {
    font-family: JB-Mono-Regular;
    src: url(../fonts/JetBrainsMono/JetBrainsMono-Regular.ttf);
}

@font-face {
    font-family: JB-Mono-Bold;
    src: url(../fonts/JetBrainsMono/JetBrainsMono-Bold.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
small {
    font-family: 'Inter';
}

.hidden {
    display: none;
}

.material-symbols-outlined {
    color: var(--neutral-t10);
    font-size: 25px;
    transition: all .2s;
}

.material-symbols-outlined:hover {
    color: var(--primary-t40);
}

/* Header */
header {
    background-color: var(--white);
    height: 72px;
    display: flex;
    border-bottom: 1.6px solid var(--neutral-t90);
    align-items: center;
    padding: 0 60px;
}

.logo {
    height: 40px;
    width: auto;
}

.search-container {
    display: flex;
    align-items: center;
    margin-left: 32px;
    border: 1.8px solid var(--neutral-t80);
    border-radius: 7px;
    transition: border-color .1s;
}

.search-container:focus-within {
    border-color: var(--secondary-t60);
}

.search-icon {
    color: var(--neutral-t60);
    padding: 0 5px;
    height: 32px;
    display: flex;
    align-items: center;
}

.search {
    width: 320px;
    height: 32px;
    border: none;
    border-radius: 0 7px 7px 0;
    padding: 0 12px 0 5px;
    outline: none;
    font-family: Inter;
    font-weight: 500;
    color: var(--neutral-t60);
}

.search::placeholder {
    font-family: Inter;
    font-weight: 400;
    color: var(--neutral-t60);
}

.icons {
    margin-left: auto;
    display: flex;
}

.notifications {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.alert-circle {
    height: 8px;
    width: 8px;
    position: absolute;
    border-radius: 50%;
    top: -1px;
    right: -1px;
    background-color: var(--red);
}

.search-mobile-button {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

/* Main content(profile) */
.main {
    height: 539px;
    overflow: hidden;
}

.col-center {
    overflow-y: auto;
    margin: 0 auto;
    width: 800px;
    height: 100%;
    padding: 35px 0;
}

.page-title {
    margin-left: 50px;
}

.profile-info {
    width: 100%;
    margin-top: 40px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.user-details {
    margin-left: 20px;
    height: fit-content;
}

.name-row {
    display: flex;
    flex: row;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--neutral);
}

.user-at {
    font-size: 14px;
    color: var(--neutral-t40);
}

.edit-button {
    height: fit-content;
    padding: 0;
    margin-left: 4rem;
    background: none;
    border: 0;
    outline: none;
    color: var(--neutral-t40);
    cursor: pointer;
    transition: all .1s;
}

.edit-button:hover {
    color: var(--neutral-t20);
}

.on-badge {
    padding: 5px 16px;
    height: 25px;
    font-size: 12px;
    margin-left: auto;
    background-color: var(--primary-t95);
    border-radius: 15px;
}

.on-badge>span {
    color: var(--tertiary);
}

/* Bio Section */
.bio {
    width: 100%;
    padding: 0 5rem;
    height: 129px;
    margin: 0 auto;
    margin-top: 30px;
}

.bio-title-row {
    display: flex;
    justify-content: space-between;
}

.bio-title-row>h3 {
    font-size: 16px;
}

.bio-text {
    margin-top: 10px;
    font-size: 16px;
    color: var(--neutral-t40);
    text-align: justify;
}

/* 3-col Grid */
.three-col-info {
    border: 1px solid var(--neutral-t90);
    border-left: 0;
    border-right: 0;
    height: 80px;
    display: grid;
    grid-template-columns: 300px 182px 308px;
}

.grid-label-line {
    display: flex;
    gap: 2rem;
}

.grid-label-line>h3 {
    font-size: 16px;
}

.col1,
.col2,
.col3 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col1 {
    border-right: 1px solid var(--neutral-t90);
}

.col3 {
    border-left: 1px solid var(--neutral-t90);
}

.email-info {
    margin-left: 5rem;
}

.grid-label-line>.edit-button {
    margin-left: auto;
}

.birth-info {
    margin: auto;
}

.nationality-info {
    margin-left: 2rem;
}

.email-info>small,
.birth-info>small,
.nationality-info>small {
    color: var(--neutral-t40);
}

/* 2-col options */

/* Navbar */
.navbar {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar ul li {
    list-style-type: none;
    color: var(--neutral-t10);
    cursor: pointer;
    margin: 0 2rem;
    padding: 8px;
    border-radius: 7px;
    transition: all .1s;
}

.navbar ul li:hover {
    background-color: var(--primary-t95);
    color: var(--primary);
}

/* Media Queries */

@media screen and (max-width: 650px) {
    .search-container {
        display: none;
    }

    .search-mobile-button {
        display: block;
    }
}